.title {
    display: flex;
        border-top: 5px solid #969696;
        background-color: #76db95;
        height: auto;
        line-height: 30px;
        padding: 4px 6px;
        font-size: 25px;
        color: #000000;
        margin-bottom: 13px;
        clear: both;
}   
.message {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.h1 {
    margin-right: auto;
}
.sp {
    color: rgb(255, 72, 0);
    display: inline-block;
}

.button {
    width: auto;
    color: red;
    font-size: 25px;
    margin-top: 30px;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    border: none;
    background-color: #ccc;
    /* box-shadow: 0 0 10px rgb(133, 255, 58); */
  }
  
  .button:hover {
    background-color: #000000;
    color: rgb(255, 255, 96);
  }
  
  .button:active {
    transform: scale(0.95);
  }
  .tglbutton {
    width: auto;
    color: rgb(79, 43, 158);
    font-size: 25px;
    margin-top: 30px;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    border: none;
    background-color: #ccc;
    /* box-shadow: 0 0 10px rgb(133, 255, 58); */
  }
  
  .tglbutton:hover {
    background-color: #000000;
    color: rgb(255, 255, 96);
  }
  
  .tglbutton:active {
    transform: scale(0.95);
  }

  .form button {
    width: 100%;
    font-size: 25px;
    margin-top: 30px;
    padding: 8px 30px 8px 30px;
    border-radius: 25px;
    border: none;
    background-color: #ccc;
    /* box-shadow: 0 0 10px rgb(133, 255, 58); */
  }
  
  .form button:hover {
    background-color: #00ff99;
  }
  
  .form button:active {
    transform: scale(0.95);
  }