.form{
  margin-top: 20px;
  padding-top: 2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #042417;
}

.form label {
    /* margin-left: auto; */
    display: inline-flex;
    color: antiquewhite;
    width: auto;
    font-size: 15px;
    margin-top: auto;
    padding:10px;
    border-radius: 25px;
    border: 2px #042417;
    background-color: #292424;
    /* box-shadow: 0 0 10px rgb(133, 255, 58); */
  }
  .form button {
    /* margin-left: auto; */
    display: inline-flex;
    color: antiquewhite;
    width: auto;
    font-size: 15px;
    margin-top: auto;
    padding:10px;
    border-radius: 25px;
    border: 2px #042417;
    background-color: #292424;
    /* box-shadow: 0 0 10px rgb(133, 255, 58); */
  }
  
  .form button:hover {
    background-color: #0e6140;
  }
  
  .form button:active {
    transform: scale(0.95);
  }
  .form input{
    width: auto;
    padding: 10px 20px;
    cursor:pointer;
    display:inline-flex;
    font-weight: bold;
    border: 2px solid ;
    border-radius: 4px;
    
  }
  .form input:hover {
    background-color: #4579af;
    color: #fafa47;
  }
  .form select {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance:none; /* Remove default arrow in some browsers */
    background-size: 30px; /* Set the size of the arrow icon */
  }

  .premiumbutton {
    margin-left: 40%;
    margin-top: 10px;
    background-color: #ff5e00;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .premiumbutton:hover {
    background-color: #17b824;
  }
  
  .premiumbutton:active {
    background-color: #00567a;
  }
  .h2{
    
    margin-left: 20%;
  }
  .expenserow {
    margin-left: 20%;
    display: flex;
    gap: 1em;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .expenseamount {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .expensedescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  
  .expensecategory {
    /* font-size: 12px; */
    font-weight: bold;
  }
  
  .deletebutton {
    background-color: #dc3545;
    color: #fff;
    border-radius: 0px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .dnbutton {
    background-color: #741a98cf;
     margin-left: 10%;
     font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .editbutton {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }